<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Contact</h1>
    <form action="/contact" method="POST">
        <input name="name" type="text" required>
        <input name="email" type="email" required>
        <textarea name="message" ></textarea required>
        <button type="submit">send message</button>
    </form>
    <a href="/">Back to Home Page</a>
</body>
</html>